body{
    margin:0;
    font-family: Architects Daughter;
}
header{
    background-image: linear-gradient(to bottom,grey,black);
    color:white;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.637);
}
nav a{
    color:white;
    padding: 10px 15px;
    text-decoration: none;

}
nav a:hover{
    background-color:green;
    transition: 0.2s;
}
nav{
    padding:10px 0px;
}
.banner{
    background-image: linear-gradient(to bottom,crimson,rgb(114, 5, 24));
    padding: 10px 20px;
    
    text-shadow: 1px 1px 1px rgb(122, 11, 11);
}